body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: white;
  }

  .circle {
    background-color: violet;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }