.vikas{
    background-image: url(/istockphoto-1264737727-612x612\ \(1\).jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    margin: 25px 25px 25px 25px;
    border: 20px 20px 20px 20px;

}