.main{
    height: 1000px;
    width: 750px;
    background-color: aqua;
    margin: auto;
}
.header{
    height: 150px;
    width: 750px;
    background-color: blueviolet;
}
.logo{
    height: 150px;
    width: 200px;
    float: left;
    background-color: darkblue;
    margin-top: 0px;
}
.social{
    height: 75px;
    width: 550px;
    float: left;
    padding: 0px;
    margin-top: 0px;
    background-color: green;
}
.menu{
    height: 75px;
    width: 550px;
    background-color: yellow;
}
.container{
    height: 800px;
    width: 750px;
    background-color:aqua;
}
.vikas{
   
padding: auto;
height: 700px;
width: 750px;
margin-left:200px;
}
.b1{
    text-align: center;
    
width: 100px;
float: left;
border-radius: 5px;
}
.b1:hover{
  background-color: red;
}
.b2{
    text-align: center;
   position: relative;
   left: 50px;
    width: 100px;
    float: left;
    border-radius: 5px;
}
.b2:hover{
   background-color: red;
}
.footer{
    height: 50px;
    width: 750px;
    background-color: chartreuse;
}